@charset "UTF-8";

/* Typical Device Breakpoints
Pequenas telas: até 600px (quase não se aplica)
Celular: de 600px até 768px (site já foi criado nessa versão)
Tablet: de 768px até 992px
Desktop: de 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width:768px) and (max-width: 992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#iphone { display: none; }
    img#itablet { display: block; }
    img#ipc { display: none; }
    img#itv { display: none; }
    img#iprint { display: none; }
}

@media screen and (min-width:992px) and (max-width: 1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
    img#iphone { display: none; }
    img#itablet { display: none; }
    img#ipc { display: block; }
    img#itv { display: none; }
    img#iprint { display: none; }
}

@media screen and (min-width:1200px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }
    img#iphone { display: none; }
    img#itablet { display: none; }
    img#ipc { display: none; }
    img#itv { display: block; }
    img#iprint { display: none; }
}


@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
    }
    body {
        background-image: url(../imagens/back-print.jpg); /*desnecessário, não aparece na impressão*/
    }
    main {
        border: 2px solid black;
        width: 90vw;
    }
    main h1 {
        text-shadow: none;
        color: black;
    }
    main::after {
        content: 'Essa impressão foi feita através do site www.cursoemvideo.com';
        text-align: center;
        text-decoration: overline;
    }
    img#iphone { display: none; }
    img#itablet { display: none; }
    img#ipc { display: none; }
    img#itv { display: none; }
    img#iprint { display: block; }
}