@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    font-family: 'Bebas Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body, html {
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
    height: 100vh;
    width: 100vw;
}
main {
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    width: 70%;
    height: 80%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.732);
    transform: translate(-50%, -50%);
}
section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/login-gd.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 45%;
}
section#login > div#formulario {
    display: block;
    padding: 10px;
    height: 55%;
}
div#formulario > h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    font-size: 1.8em;
    text-align: center;
}
div#formulario > p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18%;
    font-size: 1em;
    text-align: center;
}
div#formulario > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 67%;
}
form > div.campo {
    display: block;
    margin: auto;
    text-align: center;
    background-color: #5f2c82;
    color: white;
    width: 90%;
    height: 15%;
    border-radius: 10px;
    margin-top: 16px;
}
div.campo > label {
    display: inline-block;
    height: 90%;
    transform: translateY(-3px);
}
div.campo > input {
    width: calc(100% - 85px);
    height: 90%;
    border-radius: 5px;
    transform: translateY(-5px);
}
div.campo > i {
    height: 90%;
    transform: translateY(4px);
}
form > div.entrar {
    display: block;
    margin: auto;
    text-align: center;
    width: 90%;
    height: 15%;
    background-color: #49a09d;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 16px;
    margin-bottom: 16px;
}
form > div.entrar:hover {
    background-color: #326e6c;
    transform: scale(1.1);
}
form > div.entrar > i {
    display: inline-block;
    height: 90%;
    font-size: 1.3em;
    transform: translateY(5px);
}
form > div > input[type=submit] {
    height: 90%;
    display: inline-block;
    background-color: transparent;
    color: white;
    font-size: 1em;
    text-align: center;
    border: none;
    transform: translateY(0px);
}
form > a.botao {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 1em;
    width: 90%;
    height: 15%;
    text-decoration: none;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
form > a.botao:hover {
    background-color: #326e6c;
    transform: scale(1.1);
}
form > a.botao > i {
    display: inline-block;
    height: 90%;
    font-size: 1em;
    transform: translateY(7px);
}
form > a.botao > p {
    height: 90%;
    display: inline-block;
    transform: translateY(6px);
}